body {
    background-color: white;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    font-family: Georgia;
}

p {
    font-family: Georgia;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation il {
    padding: 20px;
}

#games {
    font-weight: 700;
    margin: 30px;
}

#golf {
    font-weight: 700;
    margin: 30px;
}

#about {
    font-weight: 700;
    margin: 30px;
}

#fixingthings {
    font-weight: 700;
    margin: 30px;
}

#closing {
    font-weight: 700;
    margin: 30px;
}